.content {
  margin: 100px 20%;
}

.main-title {
  font-size: calc(22px + 1vw);
  font-family: var(--secondary-font-family);
}

.lp-sub-text {
  font-size: calc(12px + 1vw);
}

.top-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.description {
  width: 50%;
  font-size: calc(10px + 1vw);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description p {
  margin-bottom: 50px;
}

.description a {
  font-family: var(--secondary-font-family);
}

.main-photo {
  height: 90vh;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 400px;
}

.form-container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.shop-button {
  transition: box-shadow 0.3s;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}

.shop-button:hover {
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 22%) 0px 5px 15px, rgb(0 0 0 / 14%) 0px 12px 22px;
}

.masonry-image {
  font-size: 14px;
}

.reminder {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.landing-page-img {
  height: 400px;
}

.email-us {
  font-size: calc(8px + 1vw);
  text-decoration: underline;
}

.email-us:hover {
  cursor: pointer;
  color: grey;
}

@media (max-width: 1200px) {
  .content {
    margin: 100px 10%;
  }
}

@media (max-width: 1000px) {
  .main-photo {
    height: auto;
    min-height: auto;
    width: 100%;
  }
}

@media (max-width: 786px) {
  .second-line {
    line-height: 1;
  }

  .landing-page-img {
    height: auto;
    width: 100%;
    padding: 20px;
  }
  .main-photo {
    padding: 10px;
  }
}
