.vertical-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.1)
    ),
    url("https://i.pinimg.com/564x/0b/b7/df/0bb7df72141d85c1edb0fbdc7056d55b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    url("https://bitterroot-party-rentals.s3.amazonaws.com/IMG_5362.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-rentals-btn {
  padding: 10px 30px;
  font-size: 16px;
  text-transform: none;
  max-width: 200px;
}

.main-title {
  font-size: calc(35px + 1vw);
  font-family: var(--secondary-font-family);
  color: black;
}

.top-content {
  width: 50%;
  margin: auto;
  margin-left: 5vw;
  margin-top: 8vh;
}

.hero-text {
  width: 50%;
  display: flex;
}

.description {
  font-size: calc(7px + 1vw);
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  color: black;
}

.main-photo {
  height: 70vh;
  max-height: 600px;
  margin: auto;
}

.form-container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.landing-page-img {
  height: 400px;
}

.email-us {
  font-size: calc(8px + 1vw);
  text-decoration: underline;
}

.email-us:hover {
  cursor: pointer;
  color: grey;
}

@media (max-width: 1200px) {
  .content {
    margin: 100px 10%;
  }
}

@media (max-width: 1000px) {
  .main-photo {
    height: auto;
    min-height: auto;
    width: 100%;
  }
}

@media (max-width: 786px) {
  .second-line {
    line-height: 1;
  }

  .landing-page-img {
    height: auto;
    width: 100%;
    padding: 20px;
  }
  .main-photo {
    padding: 10px;
  }
  .main-title {
    font-size: calc(25px + 1vw);
  }

  .shop-rentals-btn {
    padding: 5px 20px;
  }
}
