.gallery-title {
    margin-bottom: 30px;
    font-family: var(--secondary-font-family);
}

.gallery-photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-container:hover .gallery-photo {
  opacity: 0.9;
}

.gallery-container:hover .middle {
  opacity: 1;
}

.gallery-text {
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-family: cursive;
  padding: 16px 32px;
}