.gallery-title {
  margin-bottom: 30px;
  font-family: var(--secondary-font-family);
}

.gallery-photo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0.5px solid black;
}
