.gallery-title {
  margin-bottom: 30px;
  font-family: var(--secondary-font-family);
}

.gallery-photo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
