.why {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.main-title {
  font-size: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subText {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 400px;
  border-radius: 4px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0px;
}

.section-container {
  width: 1000px;
}

.icon-container {
  display: flex;
  padding: 15px;
  border-radius: 50%;
  background: black;
}

.icon-container svg {
  fill: white;
}

.title {
  font-weight: 800;
  margin-left: 20px;
  font-size: 30px;
}

.description {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .section-container {
    width: 100%;
  }

  .description {
    justify-content: center;
  }

  .subText {
    padding: 0 20%;
    display: flex;
    justify-content: center;
  }

  .section {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 50px;
  }

  .textContainer {
    margin-bottom: 10px;
  }

  .image img {
    width: 800px;
  }

  .reminder {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .image img {
    width: 600px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 15px;
  }
  .subText {
    padding: 0 5%;
    font-size: 13px;
  }

  .icon-container {
    border-radius: 50%;
    background: white;
  }

.icon-container svg {
  fill: black;
}


  .image img {
    width: 400px;
  }
}
