.item-container {
  display: flex;
  width: 60%;
}

.product-container {
  width: 60%;
  padding: 50px;
  border: 1px solid black;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.selector-container {
  height: 100%;
  align-items: center;
}

.carousel-container {
  border: 2px solid orange;
  width: 40%;
  padding: 20px;
}

.carousel .slider-wrapper {
  width: 50%;
}

.carousel .slider .slide img {
  /* height: auto;
  width: auto; */
  object-fit: contain;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.carousel .thumb {
  width: 5%;
  height: auto;
  border: 5px solid blue;
}
