.item-container {
  display: flex;
  width: 60%;
}

.ant-select {
  width: 70px;
}

.product-container {
  width: 60%;
}

.item-card {
  padding: 30px;
  width: 80%;
  margin: auto;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cart-actions {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 20px;
}

.cart-actions button {
  width: 40%;
}

.selector-container {
  height: 100%;
  align-items: center;
}

.carousel-container {
  width: 40%;
  padding: 20px;
}

.carousel .slider-wrapper {
  width: 50%;
}

.carousel .slider .slide img {
  object-fit: contain;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.carousel .thumb {
  width: 5%;
  height: auto;
  border: 5px solid blue;
}

.carousel .thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .item-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .carousel-container {
    width: 100%;
  }

  .product-container {
    width: 100%;
  }

  .item-card {
    width: 100%;
  }

  .cart-actions button {
    width: 100%;
  }
}
