.pageTitle {
  font-size: 40px;
  border-bottom: 2px solid #343434;
  color: #343434;
}

.primary-button {
  white-space: nowrap;
  padding: 5px 20px;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  outline: none;
}

.primary-button:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.secondary-button {
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 900;
  border: 1px solid var(--primary-color);
  color: white;
  outline: none;
  cursor: pointer;
  background: var(--primary-color);
}

.secondary-button:hover {
  background: var(--primary-color-hover);
}

.secondary-button:active {
  border: 1px solid #fff;
}

.secondary-button:disabled,
.secondary-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
