.footerContainer {
  position: sticky;
  top: 100vh;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  background: black;
  flex-direction: column;
}

.footerSection {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}

.socialIcons {
  gap: 40px;
}

.socialIcons > span {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.socialIcons > span:hover {
  border: 1px solid #ccc;
}

.socialIcons > span:hover > svg *,
.socialIcons > span:hover {
  fill: #ccc;
	transition: .3s ease;
}

.links {
  flex-direction: column;
  gap: 12px;
}

.links a {
  color: white;
  font-size: 16px;
}

.links a:hover {
  color: #ccc;
  font-size: 16px;
}

.footerContent {
    display: flex;
    align-items: center;
    gap: 150px;
}

@media screen and (max-width: 768px) {
  .footerContent {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}