.App {
  /* background-color: #f5f5f5;
  background-color: #faf9fa; */
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: calc(15px + 2vmin);
  font-family: var(--primary-font-family);
  border: 10px solid red;
}

@media screen and (max-width: 768px) {
  .App {
    padding-top: 80px;
  }
}

:root {
  --primary-color: #343434;
  --primary-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  --secondary-font-family: fantasy;
}
