.App {
  background-color: #f5f5f5;
  background-color: #faf9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: calc(10px + 2vmin);
}

:root {
  --primary-color: #343434;
}
