@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.App {
  /* background-color: #f5f5f5;
  background-color: #faf9fa; */
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: calc(15px + 2vmin);
  font-family: var(--primary-font-family);
}

@media screen and (max-width: 768px) {
  .App {
    padding-top: 80px;
  }
}

:root {
  --primary-color: #343434;
  --primary-font-family: "Lato", sans-serif;
  --secondary-font-family: fantasy;
}
